<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Área Personal</title>
    <link rel="stylesheet" href="/css/areaPersonal.css">
</head>
<body>
<div th:replace="~{fragments/navPersonal :: navP}"></div>
<div class="container">
    <h1>Área personal</h1>

    <div class="bienvenida">
        <p>Bienvenido <strong th:text="${usuarioEmail}"></strong></p>
        <p>Número de accesos desde tu navegador: <strong th:text="${contadorSesion}"></strong></p>
        <p>Número total de accesos: <strong id="contadorTotal" th:text="${contadorTotal}"></strong></p>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum lectus turpis, laoreet vitae dignissim eu, laoreet nec nisl. Donec dapibus...</p>
</div>

<div th:if="${usuario.empleado == null}" style="text-align: center; margin-top: 20px;">
    <form action="/paso1" method="get">
        <button type="submit" class="boton-registro">Registrar Empleado</button>
    </form>
<!--    <form th:action="@{/detalle/{id}(id=${empleado.id})}">-->
<!--        <button type="submit" class="boton-registro">Ver detalle</button>-->
<!--    </form>-->
<!--    <form>-->
<!--        <button type="submit" class="boton-registro">Ver nóminas</button>-->
<!--    </form>-->

</div>

<!-- Modal para editar perfil -->
<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Editar Perfil</h2>
        <form id="profileForm">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" th:value="${usuario.empleado?.nombre}">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" name="apellido" th:value="${usuario.empleado?.apellido}">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" th:value="${usuario.empleado?.telefono}">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:value="${usuario.email}">
            </div>
            <button type="submit" class="save-button">Guardar Cambios</button>
        </form>
    </div>
</div>

<script src="/js/editarPerfil.js"></script>
<script src="/static/js/DesconexionAutomatica.js"></script>

</body>
</html>
