<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperación de contraseña</title>
    <link rel="stylesheet" href="/css/cambiarContra.css">
</head>
<body>

<!-- Incluir barra de navegación -->
<div th:replace="~{fragments/nav :: navbar}"></div>

<div class="login-container">
    <div class="login-box">
        <h2>Cambiar contraseña</h2>

        <div th:if="${error}" class="error" th:text="${error}"></div>

        <form id="formCambioClave">
            <input type="hidden" id="id_usuario" th:value="${usuarioDTO.id_usuario}" />
            <input type="text" id="respuestaSecreta" placeholder="¿Dónde has nacido?"><br>
            <input type="password" id="clave" placeholder="Nueva contraseña"><br>
            <input type="password" id="confirmarClave" placeholder="Confirmar contraseña"><br>
            <label><input type="checkbox" onclick="mostrarContra()"> Mostrar contraseña</label>
            <button type="submit">Actualizar Contraseña</button>
            <div id="mensaje"></div>
        </form>
    </div>
</div>

<script>

    function mostrarContra() {
        const input = document.getElementById("clave");
        const input2 = document.getElementById("confirmarClave");
        input.type = input.type === "password" ? "text" : "password";
        input2.type = input2.type === "password" ? "text" : "password";
    }

</script>
<script src="/js/cambiarClave.js"></script>
</body>
</html>