<!-- templates/login.html -->
<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión - MonArNa SL</title>
    <link rel="stylesheet" href="/css/inicio.css">
</head>
<body>

<!-- Incluir barra de navegación -->
<div th:replace="~{fragments/nav :: navbar}"></div>

<div class="login-container">
    <div class="login-box">
        <h2>Iniciar sesión</h2>
        <form th:action="@{/email}" th:object="${usuarioDTO}" method="post">
            <input type="text" th:field="*{email}" placeholder="Correo electrónico" >
            <div th:text="${error} " class="error"></div>
            <button type="submit">Entrar</button>
        </form>
        <a href="/reg">¿No tienes Usuario?</a>
    </div>

    <!--div con la ventana de usuario bloqueado-->
        <div id="modalBloqueado" style="display:none;" th:if="${usuario != null}">
            <!--como usuario solo está en caso de que el usuario este bloqueado, usamos el th:if-->
            <div class="modal-content">
                <h2>Cuenta bloqueada</h2>
                <p>Tu cuenta ha sido bloqueada.</p>
                <p ><strong>Motivo:</strong><span th:text="${usuario.getMotivoBloqueo()}"></span></p>
                <p ><strong>Hasta:</strong><span th:text="${usuario.getFechaFinBloqueo()}"></span></p>
                <button onclick="document.getElementById('modalBloqueado').style.display='none'">Cerrar</button>
            </div>
        </div>
</div>

<script th:inline="javascript">
    window.onload = function() {
        //obtien true o false de la función isBloqueado del controlador
        const estaBloqueado = /*[[${bloqueado}]]*/ false;
        if (estaBloqueado) {
            document.getElementById("modalBloqueado").style.display = "block";
        }
    };
</script>
</body>
</html>
