<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Datos Personales</title>
</head>
<style>
    .error{
        color: red;
        font-weight: bold;
    }
</style>
<body>
<a href="/paso1"><button>Paso 1</button></a>
<a href="/paso2"><button>Paso 2</button></a>
<a href="/paso3"><button>Paso 3</button></a>
<a href="/paso4"><button>Paso 4</button></a>
<a href="/resumen"><button>Resumen</button></a>
<form id="formulario" method="post" enctype="multipart/form-data" th:action="@{/paso1}" th:object="${datos}">
    <fieldset>
        <legend>Datos Personales</legend>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" th:field="*{nombre}">
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('nombre')}" th:text="${error} " class="error"></div>
        </div>
        <label for="apellido">Apellidos</label>
        <input type="text" id="apellido" th:field="*{apellido}">
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('apellido')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <!--
        fotografía
        <input type="file">
        -->
        <label for="genero">Género</label>
        <div th:each="genero: ${generos}">
            <input id="genero" type="radio" th:field="*{genero}" th:value="${genero.getId()}" th:text="${genero.getNombre()}">
        </div>
        <button type="button" onclick="seleccionarPrimerGenero()" ><span th:text="#{boton.genero2}"/></button>
        <button type="button" onclick="deseleccionarGenero()" ><span th:text="#{boton.genero}"/></button>
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('genero')}" th:text="${error}" class="error"></div>
        </div>
        <br>
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input type="text" id="fechaNacimiento" th:field="*{fechaNacimiento}">
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('fechaNacimiento')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <label for="edad">Edad</label>
        <input type="text" id="edad" th:field="*{edad}">
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('edad')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <label for="paisNacimiento">País nacimiento</label>
        <select id="paisNacimiento" th:field="*{paisNacimiento}" >
            <option th:each="pais: ${paises}" th:value="${pais.getId()}" th:text="${pais.getNombre()}"></option>
        </select>
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('paisNacimiento')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <label for="comentarios">Comentarios</label>
        <textarea id="comentarios" th:field="*{comentarios}" rows="4" cols="50" ></textarea>
        <br>
        <label for="imagen">Imagen de perfil</label>
        <input type="file" id="imagen" name="imagen" accept=".jpg,image/jpeg" />
        <div th:each="error: ${#fields.errors('imagen')}" th:text="${error} " class="error"></div>

        <!--input que realmente almacena la imagen para la base de datos-->
        <input type="hidden" id="imagenBase64" name="imagenBase64">
    </fieldset>
    <button type="button" onclick="blanquear()" ><span th:text="#{boton.vaciar}"/></button>
    <button type="submit">Grabar Informarción - Pasar al paso 2: Datos de contacto</button>
</form>
<script src="/js/botonesRegistroPasos.js" defer></script>

</body>
</html>