<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos Económicos</title>
</head>
<body>
<a href="/paso1"><button>Paso 1</button></a>
<a href="/paso2"><button>Paso 2</button></a>
<a href="/paso3"><button>Paso 3</button></a>
<a href="/paso4"><button>Paso 4</button></a>
<a href="/resumen"><button>Resumen</button></a>
<form id="formulario" method="post" th:action="@{/paso4}" th:object="${datos}">
    <fieldset>
        <legend>Datos Económicos</legend>
        <fieldset>
            <legend>Cuenta corriente</legend>
            <label for="entidad">Entidad bancaria</label>
            <select id="entidad" th:field="*{entidadBancaria}" >
                <option th:each="entidad: ${entidades}" th:value="${entidad.getId()}" th:text="${entidad.getNombre()}"></option>
            </select>
            <div th:if="${enviado}">
                <div th:each="error: ${#fields.errors('entidad')}" th:text="${error} " class="error"></div>
            </div>
            <br>
            <label for="numCuenta">Número de cuenta</label>
            <input type="text" id="numCuenta" th:field="*{numCuenta}">
            <div th:if="${enviado}">
                <div th:each="error: ${#fields.errors('numCuenta')}" th:text="${error} " class="error"></div>
            </div>
        </fieldset>
        <br>
        <label for="sal">Salario</label>
        <input type="text" id="sal" th:field="*{salarioAnual}">
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('sal')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <label for="comision">Comisión</label>
        <input type="text" id="comision" th:field="*{comisionAnual}">
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('comision')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <fieldset>
            <legend>Tarjeta de Crédito</legend>
            <label for="tipo">Tipo de tarjeta</label>
            <select id="tipo" th:field="*{tarjeta.tipo}" >
            <option th:each="tar: ${tarjetaTipo}" th:value="${tar.getId()}" th:text="${tar.getNombre()}"></option>
            </select>
            <br><br>
            <label for="numeroTarjeta">Número</label>
            <input type="text" id="numeroTarjeta" th:field="*{tarjeta.numero}">
            <br><br>
            <label for="caducidad">Caducidad</label>
<!--            <input type="text" id="caducidad" th:field="*{tarjeta.caducidad}">-->
            <label for="cvc">CVC</label>
            <input type="text" id="cvc" th:field="*{tarjeta.cvc}">
        </fieldset>
    </fieldset>
    <a href="/paso3"><button type="button">Volver</button></a>
    <button type="submit">Grabar Informarción - Resumen </button>
</form>

</body>
</html>