<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos Contacto</title>
</head>
<body>
<form id="formulario" method="post" th:action="@{/paso2}" th:object="${datos}">
    <fieldset>
        <legend>Datos de contacto</legend>
        <label for="tipoDoc">Tipo de documento</label>
        <div th:each="tipo: ${tipoDoc}">
            <input id="tipoDoc" type="radio" th:field="*{tipoDocumento}" th:value="${tipo}" th:text="${tipo}">
        </div>
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('tipoDoc')}" th:text="${error} " class="error"></div>
        </div>
        <label for="doc">Documento</label>
        <input type="text" id="doc" th:field="*{documento}">
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('doc')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <label for="prefijo">Prefijo de Teléfono</label>
        <!-- select simple -->
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('prefijo')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <label for="tel">Teléfono</label>
        <input type="text" id="tel" th:field="*{telefono}">
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('tel')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <label for="otrosTel">Otros teléfonos de contacto</label>
        <input type="text" id="otrosTel" th:field="*{otroTelefono}">
        <div th:if="${enviado}">
            <div th:each="error: ${#fields.errors('otrosTel')}" th:text="${error} " class="error"></div>
        </div>
        <br><br>
        <div>
            <span>Dirección</span>
            <br><br>
            <label for="tipoVia">Tipo de vía</label>
            <!-- select simple -->

            <label for="nombreVia">Nombre vía</label>
            <input type="text" id="nombreVia" th:field="*{direccion.nombreVia}">
            <br>
            <label for="num">Número</label>
            <input type="text" id="num" th:field="*{direccion.numero}">
            <label for="portal">Portal</label>
            <input type="text" id="portal" th:field="*{direccion.portal}">
            <label for="planta">Planta</label>
            <input type="text" id="planta" th:field="*{direccion.planta}">
            <label for="puerta">Puerta</label>
            <input type="text" id="puerta" th:field="*{direccion.puerta}">
            <br>
            <label for="localidad">Localidad</label>
            <input type="text" id="localidad" th:field="*{direccion.localidad}">
            <label for="reg">Región</label>
            <input type="text" id="reg" th:field="*{direccion.region}">
            <label for="cod_postal">Código Postal</label>
            <input type="text" id="cod_postal" th:field="*{direccion.cod_postal}">
        </div>
    </fieldset>
    <a href="/paso1"><button type="button">Volver</button></a>
    <button type="submit">Grabar Informarción - Pasar al paso 3: Datos Profesionales</button>
</form>
</body>
</html>